@model OgrenciCevap
@{
    ViewData["Title"] = "TestCevaplarim";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/Edu-School-Starter/assets/css/style-liberty.css">
</head>

<body>
    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-4 pb-sm-4">
                <h4 class="inner-text-title pt-5">Geometri</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Ana Sayfa</a></li>
                    <li class="active"><i class="fas fa-angle-right"></i>Geometri</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->
    <section class="w3l-blogpost-content py-5">
        <div class="container py-md-5 py-4">
            <div class="row">
                <div class="text-11 col-lg-12">
                    <div class="text11-content">
                        @{
                            int a = 1;
                            string aa = "";
                            string bb = "";
                            string cc = "";
                            string dd = "";
                            string ee = "";
                            string aisaret = "";
                            string bisaret = "";
                            string cisaret = "";
                            string disaret = "";
                            string eisaret = "";
                        }
                        @foreach (var x in Model.Test)
                        {

                            aa = "";
                            bb = "";
                            cc = "";
                            dd = "";
                            ee = "";
                            aisaret = "";
                            bisaret = "";
                            cisaret = "";
                            disaret = "";
                            eisaret = "";
                            var deger = Model.TestCevap.Where(z => z.TestSoruId == x.Id).Select(y => y.CevapId).FirstOrDefault();
                            if (x.DogruCevap == 1)
                            {
                                aa = "color:limegreen";
                            }
                            else if (x.DogruCevap == 2)
                            {
                                bb = "color:limegreen";
                            }
                            else if (x.DogruCevap == 3)
                            {
                                cc = "color:limegreen";
                            }
                            else if (x.DogruCevap == 4)
                            {
                                dd = "color:limegreen";
                            }
                            else
                            {
                                ee = "color:limegreen";
                            }
                            if (deger == 1)
                            {
                                aisaret = "checked";
                                if(x.DogruCevap != 1)
                                {
                                    aa = "color:red";
                                }
                            }
                            else if (deger == 2)
                            {
                                bisaret = "checked";
                                if (x.DogruCevap != 2)
                                {
                                    bb = "color:red";
                                }
                            }
                            else if (deger == 3)
                            {
                                cisaret = "checked";
                                if (x.DogruCevap != 3)
                                {
                                    cc = "color:red";
                                }
                            }
                            else if (deger == 4)
                            {
                                disaret = "checked";
                                if (x.DogruCevap != 4)
                                {
                                    dd = "color:red";
                                }
                            }
                            else if(deger == 5)
                            {
                                eisaret = "checked";
                                if (x.DogruCevap != 5)
                                {
                                    ee = "color:red";
                                }
                            }
                            <label>@a-) @x.Soru</label>
                            <br />
                             @if (x.SoruGorsel != null)
                            {
                                <img src="@x.SoruGorsel" height="300px;" width="570px;">
                            }
                            <br />
                            <br />
                            a++;
                          
                            
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="@x.Id A" @aisaret name="@x.Id" value="1" class="custom-control-input">
                                        <label class="custom-control-label"  style="@aa" for="@x.Id A">
                                            A-) @x.CevapA
                                        </label>
                                        
                                    </div>
                                </div>
                                @if (x.GorselA != null)
                                {
                                    <img src="@x.GorselA" height="150px;" width="250px;">
                                }
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="@x.Id B" @bisaret name="@x.Id" value="2" class="custom-control-input">
                                        <label class="custom-control-label" style="@bb" for="@x.Id B">
                                            B-) @x.CevapB
                                        </label>
                                    </div>
                                </div>
                                @if (x.GorselB != null)
                                {
                                    <img src="@x.GorselB" height="150px;" width="250px;">
                                }
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="@x.Id C" @cisaret name="@x.Id" value="3" class="custom-control-input">
                                        <label class="custom-control-label" style="@cc" for="@x.Id C">
                                            C-)  @x.CevapC
                                        </label>
                                    </div>
                                    @if (x.GorselC != null)
                                    {
                                        <img src="@x.GorselC" height="150px;" width="250px;">
                                    }
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="@x.Id D" @disaret name="@x.Id" value="4" class="custom-control-input">
                                        <label class="custom-control-label" style="@dd" for="@x.Id D">
                                            D-) @x.CevapD
                                        </label>
                                    </div>
                                   
                                    @if (x.GorselD != null)
                                    {
                                        <img src="@x.GorselD" height="150px;" width="250px;">
                                    }
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="@x.Id E" @eisaret name="@x.Id" value="5" class="custom-control-input">
                                        <label class="custom-control-label" style="@ee" for="@x.Id E">
                                            E-) @x.CevapE
                                        </label>
                                    </div>
                                    @if (x.GorselE != null)
                                    {
                                        <img src="@x.GorselE" height="150px;" width="250px;">
                                    }
                                </div>
                            </div>
                            <br />
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>