@using EgitimPortali.DTO
@model DersIcerikleriDto
@{
    ViewData["Title"] = "IcerikDuzenle";
    Layout = "~/Views/Shared/_OgretmenLayout.cshtml";
}


<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>
<h1>İçerik Düzenleme</h1>

<form method="post">

    <input type="hidden" asp-for="KonularID" value="@ViewBag.konu" />

    <br />
    @Html.Label("Ders Adı")
    @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
    @Html.HiddenFor(x => x.CreatedAt, new { @class = "form-control" })


    @Html.Label("Ders İçeriği")
    <textarea id="summernote" asp-for="@Model.Icerik" class="form-control" required=""></textarea>
    <br />
    @Html.Label("Ders Görseli")
    @Html.TextBoxFor(x=>x.Resim, new { @class = "form-control" })
    <br />
    @Html.Label("Ders Pdfi")
    @Html.TextBoxFor(x=>x.PdfYolu, new { @class = "form-control" })
    <br />
    <article class="post post-large">
        <div class="post-video">
            <iframe title="En Kolay Üslü Sayılar  Notu" class="form-control" src="@Model.PdfYolu"></iframe>
        </div>
    </article>
    <script>
        $('#summernote').summernote({
            placeholder: 'İçerik',
            tabsize: 2,
            height: 200,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>

    <button class="btn btn-info">Kaydet</button>
</form>

