@using EgitimPortali.Request.Konular
@model KonularUpdateRequest
@{
    ViewData["Title"] = "KonuGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Konu Güncelleme Sayfası</h1>

@using (Html.BeginForm("KonuGuncelle", "Konular", FormMethod.Post))
{
    <select asp-for="DerslerID" class="form-control" asp-items="@(List<SelectListItem>)ViewBag.cv">
         <option>Lütfen Konu Seçiniz</option>
    </select>
 
    <br />  
    @Html.HiddenFor(x=>x.Id)

    @Html.Label("Konu Adı")
    @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Konu Sırası")
    @Html.TextBoxFor(x=>x.KonuSirasi, new { @class = "form-control" })
    <br />
    @Html.Label("Konu Görseli")
    @Html.TextBoxFor(x=>x.Resim, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
}