@using EgitimPortali.Request.Konular
@model KonularPostRequest
@{
    ViewData["Title"] = "YeniKonuEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Konu Ekleme Sayfası</h1>
@using (Html.BeginForm("YeniKonuEkle", "Konular", FormMethod.Post))
{
    <select asp-for="DerslerID" class="form-control" asp-items="@(List<SelectListItem>)ViewBag.cv">
         <option>Lütfen Ders Seçiniz</option>
    </select>
 
    <br />
    @Html.Label("Konu Adı")
    @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
    @Html.Label("Konu Görseli")
    @Html.TextBoxFor(x=>x.Resim, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Ekle</button>
}