@using EgitimPortali.DTO
@model DerslerDto
@{
    ViewData["Title"] = "DersEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    @Html.Label("Kategori")

     <select asp-for="KategorilerID" class="form-control" asp-items="@(List<SelectListItem>)ViewBag.cv">
         <option>lütfen Sınav Türü Seçiniz</option>
    </select>
    @Html.Label("Ders Adı")
    @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.KategorilerID, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
